a{
	text-decoration: none;
}
body{
	background: #EEEEEE;
	font-size: 16px;
}
footer{
	background: #5BB88D;
	background-image: url('../images/fondo.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2em 0;
	text-align: center;
	height: 390px;
}
footer form{
	display: inline-block;
	text-align: center;
	margin-top: 1.9em;
}
footer form button{
	background: #F44B2F;
	border: none;
	border-radius: .5em;
	color: white;
	padding: .5em;
}
footer form input,
footer form textarea{
	border: none;
	border-radius: .5em;
	display: block;
	margin: 0 auto .75em;
	padding: .5em;
}
footer form textarea{
	resize: none;
}
footer h3{
	color: white;
}
footer #down{
	color: white;
	font-weight: 300;
	margin-top: 2em;
}
header{
	background: #5BB88D;
	border-bottom: 3px solid #5BB88D;
	height: 7.5em;
	left: 0;
	padding: 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;

}
header #logo img{
	width: 300px;
}
#acerca{
	margin-bottom: 4em;
	text-align: center;
}
#acerca p{
	margin: 1em 3em;
	text-align: justify;
}
#acerca .text{
	text-align: center;
}
#acerca .Container{
	display: inline-block;
	margin: 0;
}
#acerca .Container .Item{
	margin-top: 2em;
}
#acerca .Container .Item .Images-container{
	margin: 0;
}
#acerca .Container .Item .Images-container img{
	width: 80px;
}
#acerca .Container .Item .Images-container,
#acerca .Container .Item .Images-description
{
	display: inline-block;
	vertical-align: top;
}
#acerca .Container .Item .Images-description{
	margin: 1.2em 2em;
}
#apoyanos{
	margin-bottom: 3.5em;
	text-align: center;
}
#apoyanos a{
	background: #5BB88D;
	border-radius: 2em;
	color: white;
	padding: .5em 1em;
	text-decoration: none;
}
#apoyanos figure{
	margin: 4em 0;
}
#apoyanos img{
	width: 360px;
}
#apoyanos p{
	margin-bottom: 3em;
}
#contacto{
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 32em;
}
#contacto p{
	margin-bottom: 2em;
}
#Container-cont{
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin-top: 2.3em;
}
#Social-media figure{
	display: inline-block;
	margin: 0;
}
#Social-media img{
	margin-right: 1em;
	text-align: center;
	width: 50px;
}
#video{
	margin-top: 7.5em;
	padding: 3em 0;
	text-align: center;
}
.titulo{
	border-bottom: 3px dashed #F44B2F;
	color: #F44B2F;
	font-weight: normal;
	margin-top: 0;
	padding-bottom: .5em;
	text-align: center;
}