<!DOCTYPE html>
<html lang="es">
<head>
	<title>Librotana</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="../static/css/normalize.css">
	<link rel="stylesheet" href="../static/css/estilos.css">
</head>
<body>
	<header>
		<figure id="logo">
			<img src="../static/images/logo.png"/>
		</figure>
	</header>
	<section id="video">
		<iframe src="//player.vimeo.com/video/101760849?byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</section>
	<section id="apoyanos">
		<h2 class="titulo">Apoyanos en fondeadora</h2>
		<p>Nuestro proyecto actualmente este siendo fondeado por medio de fondeadora...</p>
		<a href="https://fondeadora.mx/projects/librotana">Fondeadora</a>
	</section>
	<section id="acerca">
		<h2 class="titulo">Acerca del protecto</h2>
		<p>
			Queremos acercar la lectura a todos, para esto necesitamos que los libros estén cerca, muchos títulos de diferentes géneros para cubrir cada gusto, aparte de eso tienen que ser accesibles, y para acabarla que sea algo que este ahí a todas horas.
		</p>
		<div>¡YA SE! ¡MÁQUINAS EXPENDEDORAS DE LIBROS!</div>
		<p>
			Librotana es un proyecto que busca colocar máquinas expendedoras de libros en lugares públicos, para motivar la lectura, mejorar la calidad de vida mediante literatura de calidad y así embellecer la ciudad con personas leyendo.
		</p>
	</section>
	<footer>
		<div id="contacto">
			<h3>Contacto</h3>
			<p>Tienes una duda opinion o me quieres conocer.</p>
		</div>
		<form class="Footer-form">
			<input type="text" placeholder="Nombre*" class="Footer-formInput"/>
			<input type="email" placeholder="Email*" class="Footer-formInput"/>
			<textarea placeholder="Mennsaje*" class="Footer-formTextarea"></textarea>
			<button type="submit" clas="Footer-button">Enviar</button>
		</form>
		<div id="down">
			2014 Librotana ®. Todos los derechos reservados.
		</div>
	</footer>
</body>
</html>